{% load staticfiles %}
<!-- Footer -->
<div>
    <br><br><br>
</div>




<footer class="py-3 bg-dark fixed-bottom">

    <div class="align-items-center">

{#        <p class="text-center">友情链接:#}
{#          <button type="button" class="btn btn-outline-secondary">阿里云</button>#}
{#          <button type="button" class="btn btn-outline-secondary">网易云</button>#}
{#          <button type="button" class="btn btn-outline-secondary">腾讯云</button>#}
{#        </p>#}
    </div>
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; www.Jibert.com 2019</p>
    </div>
</footer>